<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer>
    <div class="container">
        <a href="index.html" class="logo"><img src="../../assets/logo.png" alt="Logo"></a>

        <ul>

            <li><a href="#" target="_blank" class="btn-social btn-facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="tran3s round-border"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#" class="tran3s round-border"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
            <li><a href="#" class="tran3s round-border"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="#" class="tran3s round-border"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
            <li><a href="#" class="tran3s round-border"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
            <li><a href="#" class="tran3s round-border"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            <li><a href="#" class="tran3s round-border"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
        </ul>
        <p>Copyright @2020 All rights reserved | <a href="https://youtube.com" target="_blank">WORIOX</a></p>
    </div>
</footer> -->

<footer>
    <div class="container">
        <a href="index.html" class="logo"><img src="../../assets/logo.png" alt="Logo"></a>
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                    
                     
                        <div class="template-demo"> <button type="button" class="btn btn-social-icon btn-facebook btn-rounded"><i href ="https://youtube.com" class="fa fa-facebook"></i></button> <button type="button" class="btn btn-social-icon btn-youtube btn-rounded"><i class="fa fa-youtube"></i></button> <button type="button" class="btn btn-social-icon btn-twitter btn-rounded"><i class="fa fa-twitter"></i></button> <button type="button" class="btn btn-social-icon btn-dribbble btn-rounded"><i class="fa fa-dribbble"></i></button> <button type="button" class="btn btn-social-icon btn-linkedin btn-rounded"><i class="fa fa-linkedin"></i></button> <button type="button" class="btn btn-social-icon btn-instagram btn-rounded"><i class="fa fa-instagram"></i></button> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>
<p>Copyright @2020 All rights reserved | <a href="https://youtube.com" target="_blank">WORIOX</a></p>
</div>
</footer> 
