 footer {
    margin: 100px 0 0 0;
    background: #1e1e1e;
    padding: 60px 0 25px 0;
    text-align: center;
  }
  footer .logo {
    margin-bottom: 20px;
  }
  /* footer ul li {
    display: inline-block;
    margin-top: 13px;
    
  }
  footer ul li a {
    width: 100px;
    line-height: 30px;
    font-size: 18px;
    margin: 0 10px;
    border:1px solid transparent;
    border-radius: 50%;
    height: 30px;
  }
  footer ul li:nth-child(1) a {
    color: #677fb5;
    border-color:#677fb5;
  }
  footer ul li:nth-child(2) a {
    color: #70c2e9;
    border-color:#70c2e9;
  }
  footer ul li:nth-child(3) a {
    color: #d8545d;
    border-color:#d8545d;
  }
  footer ul li:nth-child(4) a {
    color: #007ab9;
    border-color:#007ab9;
  }
  footer ul li:nth-child(5) a {
    color: #5ecbf3;
    border-color:#5ecbf3;
  }
  footer ul li:nth-child(6) a {
    color: #ff3ba4;
    border-color:#ff3ba4;
  }
  footer ul li:nth-child(7) a {
    color: #e299c2;
    border-color:#e299c2;
  }
  footer ul li:nth-child(8) a {
    color: #faaa5e;
    border-color:#faaa5e;
  }
  footer ul li:nth-child(1) a:hover {
    background: #677fb5;
  }
  footer ul li:nth-child(2) a:hover {
    background: #70c2e9;
  }
  footer ul li:nth-child(3) a:hover {
    background: #d8545d;
  }
  footer ul li:nth-child(4) a:hover {
    background: #007ab9;
  }
  footer ul li:nth-child(5) a:hover {
    background: #5ecbf3;
  }
  footer ul li:nth-child(6) a:hover {
    background: #ff3ba4;
  }
  footer ul li:nth-child(7) a:hover {
    background: #e299c2;
  }
  footer ul li:nth-child(8) a:hover {
    background: #faaa5e;
  }
  footer ul li a:hover {
    color:#fff !important;
  } */
  footer p {
    color:#fff;
    font-size: 15px;
    margin-top: 15px;
  }

  
  
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  /* .fa-facebook {
    background: #3B5998;
    color: white;
  } */

  .stretch-card>.card {
    width: 100%;
    min-width: 100%
}

body {
    background-color: #000000
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 3rem
}

.card {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:000000;
    background-clip: border-box;
    margin-left: 17vw;
    /* border: 1px solid ; */
    border-radius: 0;
}

.card .card-body {
    padding: 1.25rem 1.75rem
}

.card .card-title {
    color: #000000;
    margin-bottom: 0.625rem;
    text-transform: capitalize;
    font-size: 0.875rem;
    font-weight: 500
}

.card .card-description {
    margin-bottom: .875rem;
    font-weight: 400;
    color: #76838f
}

.btn.btn-social-icon {
    width: 50px;
    height: 50px;
    padding: 0
}

.template-demo>.btn {
    margin-right: 0.5rem !important
}

.template-demo {
    margin-top: 0.5rem !important
}

.btn.btn-rounded {
    border-radius: 50px
}

.btn-outline-facebook {
    border: 1px solid #3b579d;
    color: #3b579d
}

.btn-outline-facebook:hover {
    background: #3b579d;
    color: #ffffff
}

.btn-outline-youtube {
    border: 1px solid #e52d27;
    color: #e52d27
}

.btn-outline-twitter {
    border: 1px solid #2caae1;
    color: #2caae1
}

.btn-outline-dribbble {
    border: 1px solid #ea4c89;
    color: #ea4c89
}

.btn-outline-linkedin {
    border: 1px solid #0177b5;
    color: #0177b5
}

.btn-outline-instagram {
    border: 1px solid #dc4a38;
    color: #dc4a38
}

.btn-outline-twitter:hover {
    background: #2caae1;
    color: #ffffff
}

.btn-outline-linkedin:hover {
    background: #0177b5;
    color: #ffffff
}

.btn-outline-youtube:hover {
    background: #e52d27;
    color: #ffffff
}

.btn-outline-instagram:hover {
    background: #e52d27;
    color: #ffffff
}

.btn-facebook {
    background: #3b579d;
    color: #ffffff
}

.btn-youtube {
    background: #e52d27;
    color: #ffffff
}

.btn-twitter {
    background: #2caae1;
    color: #ffffff
}

.btn-dribbble {
    background: #ea4c89;
    color: #ffffff
}

.btn-linkedin {
    background: #0177b5;
    color: #ffffff
}

.btn-instagram {
    background: #dc4a38;
    color: #ffffff
}

.btn-facebook:hover,
.btn-facebook:focus {
    background: #2d4278;
    color: #ffffff
}

.btn-youtube:hover,
.btn-youtube:focus {
    background: #c21d17;
    color: #ffffff
}

.btn-twitter:hover,
.btn-twitter:focus {
    background: #1b8dbf;
    color: #ffffff
}

.btn-dribbble:hover,
.btn-dribbble:focus {
    background: #e51e6b;
    color: #ffffff
}

.btn-linkedin:hover,
.btn-linkedin:focus {
    background: #015682;
    color: #ffffff
}

.btn-instagram:hover,
.btn-instagram:focus {
    background: #bf3322;
    color: #ffffff
}