			<div id="service-section">
				<div class="container" style="text-align: center;margin-top: 2vw;">
					<div class="theme-title">
						<h2 class="wow bounceIn animated" data-wow-offset="50" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: bounceIn;" >What We Offer</h2>
<!--						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>-->
 <hr>				
</div> <!-- /.theme-title -->

					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-service-content">
								<div class="icon-heading tran3s">
									<div class="icon tran3s"><img class="service-images" style="width: 65px; height: 70px;"    src="../../assets/AutomotiveBattery.png" alt="Logo"> </div>
									<h6><a href="services/AutomotiveBattery.html" class="tran3s">Automotive Batteries</a></h6>
								</div>
								<p>All Range of EXIDE 2 wheelers, 4 wheelers and other heavy duty batteries are available. Beside that SF Sonic and Hella automotive batteries are there.</p>
							</div> <!-- /.single-service-content -->
						</div> <!-- /.col-lg -->

						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-service-content">
								<div class="icon-heading tran3s">
									<div class="icon tran3s"><img class="service-images" style="width: 65px; height: 70px;" src="../../assets/Inverter.png" alt="Logo"> </div>
									<h6><a href="services/Inverter.html" class="tran3s">Inverters</a></h6>
								</div>
								<p>There are wide variety of Inverters available at our store. Brands like Exide, Genus and Luminous are there with capacity varied from 400VA upto 10KVA. </p>
							</div> <!-- /.single-service-content -->
						</div> <!-- /.col-lg -->

						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-service-content">
								<div class="icon-heading tran3s">
									<div class="icon tran3s"><img class="service-images" style="width: 65px; height: 70px;"  src="../../assets/InverterBattery.png" alt="Logo"> </div>
									<h6><a href="services/InverterBattery.html" class="tran3s">Inverter Batteries</a></h6>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur scing elit, sed dolore magna aliqua. Ut enim ad minim ut veniam, quis nostrud exercitation ullamco aliquip ex ea commodo consequat. </p>
							</div> <!-- /.single-service-content -->
						</div> <!-- /.col-lg -->

						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-service-content">
								<div class="icon-heading tran3s">
									<div class="icon tran3s"><img class="service-images" style="width: 65px; height: 70px;" src="../../assets/SolarPowerPack.png" alt="Logo"> </div>
									<h6><a href="services/SolarPowerPack.html" class="tran3s">Solar Power Packs</a></h6>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur scing elit, sed do eiusmod, tempor incididunt labore et dolore magna aliqua. Ut enim ad minim ut veniam, quis nostrud exercitation ullamco aliquip ex ea commodo consequat. </p>
							</div> <!-- /.single-service-content -->
						</div> <!-- /.col-lg -->

						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-service-content">
								<div class="icon-heading tran3s">
									<div class="icon tran3s"><img class="service-images" style="width: 65px; height: 70px;" src="../../assets/SolarProduct.png" alt="Logo"> </div>
									<h6><a href="services/SolarProduct.html" class="tran3s">Solar Products</a></h6>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur scing elit, sed do eiusmod, tempor incididunt labore et dolore magna aliqua. Ut enim ad minim ut veniam, quis nostrud exercitation ullamco aliquip ex ea commodo consequat. </p>
							</div> <!-- /.single-service-content -->
						</div> <!-- /.col-lg -->

						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-service-content">
								<div class="icon-heading tran3s">
									<div class="icon tran3s"><img class="service-images" style="width: 65px; height: 70px;" src="../../assets/Woriox.png" alt="Logo"> </div>
									<h6><a href="services/Woriox.html" class="tran3s">Woriox Products</a></h6>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur scing elit, sed do eiusmod, tempor incididunt labore et dolore magna aliqua. Ut enim ad minim ut veniam, quis nostrud exercitation ullamco aliquip ex ea commodo consequat. </p>
							</div> <!-- /.single-service-content -->
						</div> <!-- /.col-lg -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /#service-section -->
