<div id="team-section">
    <div class="container" style="text-align: center;margin-top: 2vw;">
        <div class="theme-title">
            <h2 class="bounceIn animated heading-style" >Our Amazing Team</h2>
            <hr>
            <p>Meet our team who is working hard day in day out to make Life better for the society since 1987.</p>
        </div> <!-- /.theme-title -->

        <div style="padding: 20px">

        </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="images/team/1.jpg " alt="RamKumarGodara">
                        <h4>Ram Kumar Godara</h4>
                        <p class="text-muted">Chief Executive Officer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="images/team/2.jpg " alt="AmitGodara">
                        <h4>Amit Godara</h4>
                        <p class="text-muted">Managing Director</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="images/team/3.jpg " alt="AnkitGodara">
                        <h4>Ankit Godara</h4>
                        <p class="text-muted">Chief Technical Officer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </div> <!-- /.conatiner -->
</div> <!-- /#team-section -->

